* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #70b5c1; 

}
.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: #7d2ae8;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content {
    max-width: 500px;
    color: #555;
}
.content h2 {
    font-size: 3em;
}
.content h2 span {
    color: #7d2ae8;
}
.content h4 {
    font-size: 2em;
}
.content p {
    padding: 10px 0 40px 0;
}
.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
}
.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}
.social-icons {
    position: absolute;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
}
.social-icons a i {
    color: #fff;
}
.image-container {
    max-width: 40%; 
    margin-top: 100px;
}
.about,.skills,.projects,.resume,.contact {
    padding: 100px 50px;
    background-color: #fffdfd;
}
.about h2,.skills h2,.projects h2,.resume h2,.contact h2 {
    font-size: 2.5em;
    color: #555;
    margin-bottom: 20px;
}
.about img,.projects img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.about p,.skills ul,.projects.project-item p,.contact p {
    font-size: 1.1em;
    color: #555;
}
.about img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 10px;
    display: block;
    margin: 20px auto; 
}

.skills ul {
    list-style-type: none;
}
.skills ul li {
    background: #7d2ae8;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 10px 10px 0;
}
.project-item {
    margin-bottom: 30px;
}
.text-align-justify p {
    text-align: justify;
}
footer {
    padding: 20px 100px;
    background-color: #7d2ae8;
    color: #fff;
    text-align: center;
}
